<!-- templates/collection_list.html -->
{% extends 'base.html' %}

{% block title %}Liste des Collections{% endblock %}

{% block content %}
<h1>Liste des Collections</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for collection in collections %}
        <tr>
            <td>{{ collection.title }}</td>
            <td>{{ collection.date }}</td>
            <td>
                <a href="{% url 'collec_detail' collection.id %}" class="btn btn-info">Détails</a>
                <a href="{% url 'edit_collection' collection.id %}" class="btn btn-warning">Modifier</a>
                <a href="{% url 'delete_collection' collection.id %}" class="btn btn-danger">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'add_collection' %}" class="btn btn-primary">Ajouter une nouvelle collection</a>
{% endblock %}
